<head>
    <link rel="stylesheet" href="styles.css">
</head>
<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Contact the stars, first.</h1>
    <p>
       Typically a form goes here so you
       can put in some info to send to me
       with the hopes I reply. Good thing 
       this isn't typical.
    </p>
    <p>
        Try again later....
    </p>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>