p {
    box-sizing: border-box;
    border:4px #1c042e;
    background-color: #a298b3;
    padding: 10px;
}

html {
    background-color: #c5c5c7;
}

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
  }
  
  .has-purple-background {
    background-color: #7a6091;
    border: 2px solid #5313a7;
  }
  
  .has-blue-background {
    background-color: #86b6f0;
    border: 2px dashed #17255d;
  }

  .flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}